link(rel="import" href="../../bower_components/polymer/polymer.html")
link(rel="import" href="../../bower_components/d3-import/d3.html")

dom-module(id="page-game")
    template
        div(id="div")
    script(type="text/javascript" src="page-game.js")
    script(type="text/javascript" src="cuttle/LogDiv.js")
    script(type="text/javascript" src="cuttle/PromptDiv.js")
    script(type="text/javascript" src="cuttle/CardArea.js")
    script(type="text/javascript" src="cuttle/ScrapPile.js")
    script(type="text/javascript" src="cuttle/Player.js")
    script(type="text/javascript" src="cuttle/Enemy.js")
    script(type="text/javascript" src="cuttle/CuttleGame.js")
    script(type="text/javascript" src="cuttle/CuttleClient.js")
