link(rel="import" href="../../bower_components/polymer/polymer.html")

dom-module(id="page-connection")
    template
        p h1 Cuttle connection page
    script(type="text/javascript" src="page-connection.js")
